:root {
  --color-primary: #202029;
  --color-secondary: #6D71E3;
  --color-tertiary: #202261;
  --icon1 #FA6A3C;
  --icon2 #F0CB30;
  --icon3 #61ED90;
  --font-color: #FFF;
  --table-lines: #65A4F7
}

[data-theme="light"] {
  --color-primary: #fff;
  --color-secondary: #F0F0FC;
  --color-tertiary: #E8E8EF;
  --icon1 #A84828;
  --icon2 #A88D22;
  --icon3 #45A866;
  --font-color: #000;
  --table-lines: #4F81C2;
}

/* ENTIRE BODY */

body {
  background-color: #202029;
  background-color: var(--color-primary, #FFF);
  color: white;
  color: var(--font-color, #000);
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

/* TOGGLE SWITCH STYLES */

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
  em {
    margin-left: 10px;
    font-size: 1rem;
  }


.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #FFF;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* DROP DOWN MENU */

.chooser {
  margin: auto;
  padding: 5%;
  width: 100%;
}

/* VIEW DATA BUTTON */

button {
  background-color: #6D71E3;
  border-radius: 5px;
  color: white;
  font-family: 'Raleway',
    sans-serif;
  padding: 2%;
}

/* FORM */

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}

/* HEADER */

header {
  background-color: #6D71E3;
  background-color: var(--color-secondary, #F0F0FC);
  border-radius: 5px;
  height: auto;
  margin-left: 10%;
  margin-top: 2%;
  width: 80%;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 350%;
  margin-bottom: 0;
  margin-left: 2%;
  margin-top: 0;
  width: 80%;
}

h2 {
  font-size: 200%;
  margin-top: 2%;
  padding-bottom: 1%;
  padding-top: 2%;
}

.user-info-text {
  padding-bottom: 3%;
}

.user-info {
  margin-left: 5%;
}

/* STATS SECTION */

.daily-stats {
  background-color: #202261;
  background-color: var(--color-tertiary, #E8E8EF);
  border-radius: 5px;
  height: 100%;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 3%;
  text-align: center;
  width: 80%;
}

.daily-data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.current-stats {
  align-items: center;
  background-color: #202261;
  background-color: var(--color-tertiary, #E8E8EF);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
  width: 200px;
  padding-bottom: 4%;
  position: relative;
}

.daily-stat-icons {
  margin: auto;
  justify-content: center;
}

.icon {
  border-radius: 5px;
  position: relative;
  width: 40%;
}

.icon:hover {
  border: 2px solid #C667E0;
  cursor: pointer;
}

.stats-text {
  margin-top: 1%;
  text-align: center;
}

.exercise-icon {
  background-color: #FA6A3C;
}

.sleep-icon {
  background-color: #F0CB30;
}

.water-icon {
  background-color: #61ED90;
}

.weekly-activity,
.weekly-sleep,
.weekly-water {
  color: darkgray
}

.success {
  background-color: #202261;
  background-color: var(--color-secondary, #F0F0FC);
}

.user-stats {
  border-radius: 5px;
  margin: auto;
  margin-top: 4%;
  text-align: center;
  width: 80%;
}

.table {
  font-size: 150%;
  margin: auto;
  margin-top: 5%;
  table-layout: fixed;
  width: 100%;
}

td,
th {
  border-bottom: 1px solid #65A4F7;
}

.disclaimer {
  font-size: 60%;
  font-style: italic;
  margin-top: 0;
}

.hidden {
  display: none;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1025px) {
  form {
    font-size: 100%;
  }

  select,
  input,
  button {
    font-size: 110%;
  }

  .user-info {
    font-size: 150%;
  }

  p {
    font-size: 160%;
  }
}

/* iPads  ----------- */
@media only screen and (min-device-width : 501px) and (max-device-width : 1024px) {
  form {
    font-size: 100%;
  }

  select,
  input,
  button {
    font-size: 90%;
  }

  .user-info {
    font-size: 150%;
  }

  p {
    font-size: 150%;
  }
}

/* Smartphones  ----------- */
@media only screen and (max-width : 500px) {
  form {
    font-size: 75%;
  }

  select,
  input,
  button {
    font-size: 60%;
  }

  h1 {
    font-size: 200%;
  }

  .user-info {
    font-size: 90%;
  }

  .chart-area {
    height: 300px;
    width: 100%;
  }
}